# Ignore everything
*

# Except for these files.
!.gitignore

# Application code
!app.py
!database.py
!voting-system.py
!spark-streaming.py
!streamlit-dashboard.py

# Config
!docker-compose.yml
!requirements.txt

# Checkpoints folder
!checkpoints/
!checkpoints/checkpoint1
!checkpoints/checkpoint2

# Necessary jars
!jars/
!jars/postgresql-42.7.3.jar
!jars/spark-sql-kafka-0-10_2.12-3.5.1.jar